!!!
%html(lang="#{@locale}" dir='ltr')
	%head
		= render(:partial=>'head')
	%body(id="#{@act}" class="#{@con}")
		= render(:partial=>'flash')
		#header
			=# render(:partial=>'layouts/header')
		#content
			= yield
		#footer
			