- formId = "#{delete.class.to_s.downcase}-#{delete.id}"
- formAction = url_for(delete)
.deleteLink
	%form(id=formId action=formAction method='post' accept-charset='UTF-8')
		%input(type='hidden' name='_method' value='delete')
		%input(type='hidden' name='utf8' value='&#x2713;')
		%input(type='hidden' name='authenticity_token' value="#{form_authenticity_token}")
		%input(type='hidden' name='class' value="#{delete.class}")
		%input(type='hidden' name='id' value="#{delete.id}")
	%a(href='#' data-formId=formId data-formAction=formAction data-redirectTo=redirectTo)
		Delete